@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Fjalla One', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background: #fff;
}


/*** SIDE NAV ***/
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 5px 20px 2px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #03486a;
  display: block;
  text-align: center;
}
.sidenav a i {
  color: silver;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.sidenav a i:hover {
  color: red;
}
.sidenav hr {
  width: 100%;
  border-top: 1px solid red;
  opacity: 0.4;
}
.sidenav img {
  width: 150px;
  margin-top: 15px;
  margin-bottom: 12px;
}
/*** END OF SIDE NAV ***/



/*** MOBILE NAV ***/
.mobileNav {
  background-color: #111;
}
.mobileNav nav {
   /*position: fixed;*/
   z-index: 1;
}
.navbar-toggler-icon {
  height: 4.5vh;
  border-radius: 30px;
}
.mobileNav .navbar-nav {
  font-size: 1.5rem;
}
.mobileNav .navbar-nav i {
   color: red; 
}
/*** END OF MOBILE NAV ***/



/*** ACTIVATE TO THE TOP BUTTON ***/
#myBtn {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: rgba(1250, 60, 31,0.7);
}
/*** END OF ACTIVATE TO THE TOP BUTTON ***/


.main {
  margin-left: 160px;  /*Same as the width of the sidenav*/
  font-size: 28px;  /*Increased text to enable scrolling*/
  padding: 0px;
  margin-top: 0px;
  overflow-x: hidden; 
}


/*** HOME ***/
#home {
   background: rgba(255, 69, 0, 0.8);
}
.parallax {
  position: relative;
  color: #111;
  /*text-align: center;*/

  /* Set a specific height*/
  min-height: 100vh;
  display: flex;
  margin-left: 2.5vw;
}
.home-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-left: 29px;
  padding-top: 80px;

  /*background-attachment: fixed;*/
  /*background-position: center;*/
  /*background-size: cover;*/
}
.home-content h1.company {
  font-family: 'Russo One', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
}
.extra-home-content {
  padding-top: 40px;
  font-size: 2.5rem;
  line-height: 40px;
  margin-top: 70px;
}
.extra-home-content p#living {
  font-family: 'Leckerli One', cursive;
}
.extra-home-content p#start {
  color: #111;
  font-size: 0.6em;
}
.brand-package {
  position: absolute;
  padding-top: 42vh;
  overflow: hidden;
  margin: 0 auto;
  margin-left: 80vh;
}
.brand-package img {
  width: 45%;
  -webkit-filter: drop-shadow(7px -3px 5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(7px -3px 5px rgba(0, 0, 0, 0.3));
}
.brand-package2 {
   margin-left: 110vh;
}
.brand-package2 img {
  width: 250%;
  /*-ms-transform: rotate(350deg);*/ /* IE 9 */
  /*transform: rotate(350deg);*/
  opacity: 0.2;
  -webkit-filter: drop-shadow(-7px -3px 5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(-7px -3px 5px rgba(0, 0, 0, 0.3));
}
.learn-more-tag {
  margin-top: 72vh;
}
.learn-more-tag a {
  font-family: 'Fjalla One', sans-serif;
  text-decoration: none;
  font-size: 1.3rem;
  color: #FFF;
  background-color: #111;
  border-radius: 30px;
  padding: 5px 35px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.learn-more-tag a:hover {
  background-color: rgb(255, 69, 0);
}
/*** END OF HOME ***/


/*** ABOUT SECTION ***/
#about {
  display: flex;
  flex-direction: column;
  height: 950px;
  /*color: #111;*/
  background-color: #111;
}
.about-container {
  display: flex;
}
.col-content-about {
  width: 2000px;
}
.about-content {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 4px;
}
.about-content {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 20px;
}
.about-content h1 {
  color: #111;
  font-weight: bold;
  font-size: 80px;
}
.about-content h2 {
  font-weight: bold;
  font-size: 40px;
  color: red;
  margin-bottom: 40px;
}
.about-content h2 span {
  color: #111;
}
.about-content .detail {
  font-size: 19px;
  padding-left: 15px;
}
.about-content .detail a {
  text-decoration: none;
}
.about-content .detail a:hover {
  color: red;
}
.col-img-about {
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.testimonial-tag {
  margin-top: 1vh;
  margin-left: 5vw;
}
.testimonial-tag a {
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 5px 35px;
  border-radius: 30px;
  color: #111;
}
.testimonial-tag a:hover {
  background: rgba(700,0,0,0.7);
}
/*** END OF ABOUT SECTION ***/

/*** COMMENTS BOX ***/
#comments {
  display: flex;
  height: 100%;
  background-color: rgb(70,6,0);
}
.col-content-comments {}
.comments {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 20px;
}
.comment-content {
  /*padding-top: 20px;*/
}
.comment-content p {
  font-style: italic;
  font-size: 20px;
}
.comment {
  margin-top: 70px;
}
.comment-id {
  margin-top: -10px;
  font-size: 0.7em;
}
.comment-id small {
  color: silver;
}
.comment-id span {
  color: rgb(90,100,50);
}
.contact-tag {
  margin-top: 30px;
  margin-bottom: 19px;
}
.contact-tag a {
  font-family: 'Fjalla One', sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(90,10,0);
  background-color: yellow; 
  padding: 5px 35px;
  border-radius: 20px;
}
.contact-tag a:hover {
  background-color: rgba(125, 500, 70,0.4);
}
/*** END OF COMMENTS BOX ***/


/*** GALARY BOX ***/
.galary {
  color: #000;
}
/*** END OF GALARY BOX ***/


/*** CONTACT BOX ***/
#contact {
  display: flex;
  height: 300px;
  background-color: rgba(75,90,0,0.7);
}
.col-content-contact {}
.contact-content {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 20px;
}
/*** END OF CONTACT BOX ***/


/*** PAGE FOOTER ***/
.footer {
  margin: 0 auto;
}
.footer #end-line {
  font-size: 20px;
  padding: 17px;
  padding-bottom: 2em;
}
.footer #end-line a {
  text-decoration: none;
  font-size: 25px;
  color: rgba(12, 5, 90,0.8);
}
.footer #end-line small a {
  font-size: 21px;
  color: silver;
}
/*** END OF PAGE FOOTER ***/


/**** EXTRA SMALL DEVICES Only *****/
@media (max-width: 767px) {
  .main {
    margin-left: 0;  /*Same as the width of the sidenav*/
    font-size: 28px;  /*Increased text to enable scrolling*/
    padding: 0px;
  }
  #about {
    flex-direction: column;
  }
  #comments {
    flex-direction: column;
  }
  .navbar img {
    width: 50px;
    height: 60px;
  }
  .footer #end-line {
    font-size: 0.6em;
    padding-bottom: 2em;
  }
  .footer #end-line a {
    font-size: 17px;
  }
  .footer #end-line small a {
    font-size: 17px;
  }

  /*** FIXED NAVBAR ***/
  .navbar span {
    font-size: 30px;
    cursor: pointer;
  }
  .navbar .container {
    margin: 14px 10px;
  }
  .navbar img {
    width: 110px;
  }
  /*** END OF FIXED NAVBAR ***/

  /*** SIDENAV MOBILE SCREEN ***/
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav a {
    padding: 8px 2px -10px;
    text-decoration: none;
    font-size: 25px;
    color: gray;
    width: 100%;
    display: block;
    transition: 0.3s;
  }
  /*** END OF SIDENAV MOBILE SCREEN ***/

  /*** ABOUT SECTION ***/
  .about-container {
    flex-direction: column;
  }
  /*** END OF ABOUT SECTION ***/
}


/*** MEDIA QUERIES ***/
/*No media query for `xs` since this is the default in Bootstrap*/

/*Extra small devices {xs} (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
   .home-content h1.company {
      font-size: 1.9rem;
   }
   .parallax {
      min-height: 100vh;
      margin-left: 0;
      margin-right: 2px;
   }
   .home-content {
      padding-top: 10vh;
   }
   .extra-home-content {
      font-size: 2rem;
      line-height: 20px;
      margin-top: 28vh;
   }
   .brand-package {
      padding-top: 33vh;
      margin-left: 3vw;
   }
   .brand-package img {
      width: 45%;
   }
   .brand-package2 {
      margin-left: 10vh;
      margin-top: 20vh;
   }
   .brand-package2 img {
      width: 200%;
      opacity: 0.1;
   }
   button.hidden-xs {
      visibility: hidden;
   }
   .learn-more-tag {
      padding-top: 7vh;
   }
   .learn-more-tag a {
      padding: 1px 20px;
   }
}

/*Extra small devices {xs} (Moto G4 & Galaxy, less than 360px)*/
@media (max-width: 360.98px) {
   .home-content {
      padding-top: 6vh;
   }
  .brand-package {
      padding-top: 30vh;
   }
   .brand-package img {
      width: 50%;
   }
   .extra-home-content {
      margin-top: 27vh;
   }
   .learn-more-tag {
      padding-top: 3vh;
   }
}

/*Extra small devices {xs} (iPhone 5/SE, less than 320px)*/
@media (max-width: 320.98px) {
   .home-content h1.company {
      font-size: 1.6rem;
   }
   .extra-home-content {
      font-size: 1.7rem;
      margin-top: 26vh;
   }
   .learn-more-tag a {
      font-size: 1rem;
      padding: 3px 30px;
   }
}

/*Extra small devices {xs} (Galaxy Fold, less than 280px)*/
@media (max-width: 280.98px) {
   .home-content h1.company {
      font-size: 1.4rem;
   }
   .parallax {
      min-height: 100vh;
      margin-left: 0;
      margin-right: 2px;
   }
   .home-content {
      padding-top: 10vh;
   }
   .extra-home-content {
      font-size: 1.5rem;
      line-height: 20px;
      margin-top: 28vh;
   }
   .learn-more-tag {
      padding-top: 5vh;
   }
}

/*Extra small devices {xs} (Surface Duo, less than 280px)*/
@media only screen and (device-width : 540px) and (device-height: 720px) {
   .brand-package img {
      width: 35%;
   }
   .extra-home-content {
      margin-top: 33vh;
   }
}




/*Small devices {sm} (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { ... }


/*Medium devices {md} (tablets iPad, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
   .home-content h1.company {
      font-size: 2.8rem;
   }
   .home-content {
      padding-top: 10vh;
   }
   .extra-home-content {
      font-size: 2rem;
      line-height: 20px;
      margin-top: 28vh;
   }
   .brand-package {
      padding-top: 33vh;
      margin-left: 3vw;
   }
   .brand-package img {
      width: 40%;
   }
   .brand-package2 {
      margin-left: 20vh;
      margin-top: 20vh;
   }
   .brand-package2 img {
      width: 230%;
      opacity: 0.2;
   }
   button.hidden-xs {
      visibility: hidden;
   }
   .learn-more-tag {
      padding-top: 5vh;
   }
   .learn-more-tag a {
      font-size: 1.4rem;
      padding: 1px 20px;
   }
}

/*Medium devices {md} (tablets iPad Pro)*/
@media only screen and (device-width : 1024px) and (device-height: 1366px) {
   .home-content h1.company {
      margin-top: 5vh;
   }
   .brand-package {
      padding-top: 32vh;
      margin-left: 3vw;
   }
   .brand-package img {
      width: 30%;
   }
   .brand-package2 {
      margin-left: 20vh;
      margin-top: 20vh;
   }
   .brand-package2 img {
      width: 300%;
   }
   .learn-more-tag {
      padding-top: 5vh;
   }
   .extra-home-content {
      font-size: 2.5rem;
      line-height: 20px;
      margin-top: 30vh;
   }
}




/*Large devices {lg} (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/*Extra large devices {xl} (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }